.wave-divider {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
	pointer-events: none;

	&--flip {
		transform: scaleY(-1);
	}

	&__parallax > use {
		animation: wave-move 12s linear infinite;

		&:nth-child(1) {
			animation-delay: -2s;
		}

		&:nth-child(2) {
			animation-delay: -2s;
			animation-duration: 5s;
		}

		&:nth-child(3) {
			animation-delay: -4s;
			animation-duration: 3s;
		}
	}
}

@keyframes wave-move {
	0% {
		transform: translateX(-90px);
	}
	100% {
		transform: translateX(85px);
	}
}

// 위치 클래스
.wave-divider-top {
	top: 0;
}

.wave-divider-bottom {
	bottom: 0;
}
